@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}
body{
	/*background: #4b4276;*/
	background: #00ffcc;
	margin-bottom:25%;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
	width: 200px;
}
li a {
display: block;
}
.wrapper {
	display:flex;
	position:fixed;
}
.wrapper .sidebar{
	background: #4b4276;
	position:fixed;
	width: 200px;
	height: 100%;
	padding: 30px 0;
	margin-bottom: 10%;
	
}
.wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	color:Aqua;
}
.wrapper .sidebar ul li{

	padding: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
	
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
	margin-left:10px;
}
.wrapper .sidebar ul li:hover{
	background: #594f8d;
}
.wrapper .sidebar ul li:hover a{
background: color: #fff;
width: 200px;
}
.wrapper .sidebar .social_media{
	position: absolute;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-bottom: 10px;
}
.wrapper .sidebar .social_media a{
	display: block;
	width: 40px;
	background: #594f8d;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin:0 5px;
	color: #bdb8d7;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-bottom: 15px;
}
.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
}
.wrapper .main_content .header{
	padding: 30px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
}
.wrapper .sidebar .fas{
	padding:5px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper .main_content .info{
	
	margin-top: 150px;
	margin-left: 15px;
	color: #717171
	line-height:25px;
	font-style: all;
}

.wrapper .main_content .info .a1 {
	color:red;
	font-size: 70px;
}
.wrapper .main_content .info .a2 {
	color:blue;
	font-size: 70px;
	margin-bottom: 5px;
}
.wrapper .main_content .info .a3 {
	color:#336699;
}

.wrapper .image img { 
margin-top: 150px;
      width: 400px;
      height: 400px;
      background: gray;
      border-radius: 100%

    }
.wrapper .image{
	width: 100%;
	margin-left: 150px;
	display: flex;
}
button{
	padding-left: 10px; 
	margin-top: 160px;
	height: 100px;
	width:50%;
	border-bottom-color: red;
	border-right-color: red;
	border-top-color: red;
	border-bottom-right-radius: 10px ;
	border-top-right-radius: 300px ;
	color:violet;
	
	background-color: gray;
}
button a{
	color:blue;
	font-family: Arial, Helvetica, sans-serif;

}

